.modal-title {
  color: #b54708;
}

.label-info {
  color: #344054;
  font-size: 0.875rem !important;
  font-weight: 500;
  /* margin-bottom: 0.25rem !important; */
}

.main-info,
.main-info .text-dark {
  color: #101828;
  font-size: 0.875rem !important;
  /* font-weight: 500; */
  /* margin-bottom: 0.25rem !important; */
}

.form-control {
  height: 38px; /* Compactar la altura de los inputs */
}
.form-group {
  margin-bottom: 8px !important; /* Reducir espacio entre campos */
}

label.form-label {
  font-size: 0.813rem !important;
  font-weight: 500;
  margin-bottom: 0.25rem !important;
}

.input-group-text,
.form-control,
.custom-select {
  /* border-radius: 0.25rem !important;
  border: 1px solid #D0D5DD !important; */
  font-size: 0.875rem !important;
}

.info-law .card-body {
  padding: 0.275rem 0.75rem;
}

.card.info-law p {
  font-size: 0.75rem !important;
  font-weight: 600;
}

.custom-switch .custom-control-label {
  width: 100%;
}

.display-info-law {
  color: #344054;
  font-size: 0.875rem !important;
  font-weight: 500;
  margin-bottom: 0 !important;
}

.display-info-law .form-check-label {
  font-size: 0.75rem !important;
}

.MultiFile-applied {
  font-size: 0.75rem !important;
}

/* Table */
.table thead th {
  font-size: 0.75rem !important;
  font-weight: 600;
}

.table-sm td,
.table-sm th {
  font-size: 0.75rem !important;
}
